@page "/profile"
<div class="user-card">
    <img src="avatar.jpg" alt="Anon's avatar">
    <h1>Anonymous</h1>
    <p>Birth Date: xx.xx.xxxx</p>
    <p class="status"><span>Status:</span> Online</p>
    <p class="location"><span>Location:</span> New York City</p>
    <p class="about"><span>About Me:</span> Lorem ipsum dolor sit amet...</p>
    <ul class="contacts">
        <li><i class="fa fa-phone"></i> Phone number: XXXXXXXXXX</li>
        <li><i class="fa fa-envelope"></i> Email address: anon@example.com</li>
        <li><i class="fa fa-globe"></i> Website: www.anonwebsite.com</li>
        <ul class="social-links">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
        </ul>
    </ul>
</div>